@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap')

$primary-font: 'Open Sans', sans-serif
$primary-color: #0233c4
$bg-color: #f5f7fc
$second-color: #ffffff
$btn-active: #fcee21
$btn-dis: #f8f5c9
$invalid: #fcee21
$valid: #42f456
$btn-hover: #f5ec5680
$sm: 374px;
$md: 767px;
$lr: 1200px;

@mixin respond-to($media) 
  @if $media == handhelds
    @media only screen and (max-width: $sm)  
      @content
  
  @else if $media == medium
    @media only screen and (min-width: $sm) and (max-width: $md)  
      @content
  
  @else if $media == large
    @media only screen and (min-width: $md + 1) and (max-width: $lr)
      @content
  @else if $media == pc
    @media only screen and (min-width: $lr + 1)
      @content
 
html
  box-sizing: border-box 
  font-family: $primary-font
  background: #f1f1f1
  font-size: 16px
  @include respond-to(large) 
    font-size: 10px
  @media only screen and (min-width: 1201px)
    font-size: 11px
  @media only screen and (min-width: 1900px)
    font-size: 16px


body 
  margin: 0
  padding: 0
  overflow: hidden

canvas
  display: block
  vertical-align: bottom

.hide
  display: none

.show
  display: block

.flex_block 
  display: flex
  justify-content: center
  align-items: center

.title_text 
  font-weight: bold
  font-size: 3.5rem
  font-style: normal
  font-stretch: normal
  line-height: normal
  letter-spacing: normal
  margin: 0
  text-align: left
  @include respond-to(medium) 
    font-size: 2rem
    line-height: 2rem    
    text-align: center
  @include respond-to(handhelds)
    line-height: 1
    font-size: 2rem
    text-align: center
    
.body_wrapper
  display: flex
  flex-direction: column
  align-items: center
  min-height: 100vh
  width: 100vw
  background-attachment: fixed
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
 

.header
  align-items: flex-start
  z-index: 8
  width: 100vw
  @extend .flex_block

.header_line
  width: 100%
  background-color: #000
  height: 2.5rem
  position: absolute
  @media only screen and (max-width: $lr)
    height: 2rem
  @media only screen and (max-width: $md)
    height: 1.5rem
  @include respond-to(handhelds)
    height: 1.1rem

.header__logo 
  height: 4.5rem
  position: absolute
  top: 0rem
  @media only screen and (max-width: $lr)
    height: 4em
  @media only screen and (max-width: $md)
    height: 2.6rem
  @include respond-to(medium)
  @include respond-to(handhelds)
    height: 2.4rem

.trapezium
  width: 80rem
  margin: 0 22rem
  height: 4.875rem
  @extend .flex_block
  @media only screen and (max-width: $lr)
    height: 4rem
  @media only screen and (max-width: $md)
    height: 2.6rem
    margin: 0 0
    width: 80%
  @include respond-to(handhelds)
    height: 2.4rem
    width: 80%

.trapezium_right
  background: linear-gradient(to bottom, #080808, #121212)
  width: 60%
  height: 100%
  margin-left: -10%
  transform: SkewX(-22deg)
  @include respond-to(medium)
  @include respond-to(handhelds)
    margin-left: -10%
    width: 63%

.trapezium_left
  background: linear-gradient(to bottom, #080808, #121212)
  width: 50%
  height: 100%
  transform: SkewX(22deg)


.content 
  @extend .flex_block
  flex: 1 0 auto
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  @media screen and (max-width: 2561px) and (min-width: 1980px)
    margin-left: 44.3125rem
  @media screen and (max-width: 1900px) and (min-width: 1681px)
    margin-left: 49.3125rem
  @media only screen and (max-width: 992px)
    display: flex
    align-items: center
    flex-direction: column
    margin-left: 0
    margin-top: 2rem

.content-wrap
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 70vh
  z-index: 6
  @media screen and (max-width: 1280px) and (max-height: 720px)
    height: 75vh

.championships
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  @media only screen and (max-width: 768px)
    height: 15rem

.teams
  position: relative
  display: flex
  justify-content: space-between
  width: 65rem
  height: 15rem
  padding: 0 7rem 0 11rem
  z-index: 9
  // background-color: $btn-active
  @media screen and (max-width: 1900px)
    width: 70rem
    height: 20rem
  @media screen and (max-width: 950px)
    width: 58rem
    height: 22rem
    padding: 0 0 0 5rem
  @media only screen and (max-width: 768px)
    width: 50rem
    padding: 0 1rem 0 5rem
  @media only screen and (max-width: 650px)
    background-color: $btn-active
    position: absolute
    top: 10rem
    justify-content: space-around
    padding: 0
    height: 15rem
    width: 100vw
  @media only screen and (max-width: 550px)
    top: 6rem
  @media only screen and (max-width: 650px)
    top: 5rem
  
.team
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  margin-top: 2rem
  position: relative
  @media screen and (max-width: 1680px)
    margin-top: 4rem
  @media screen and (max-width: 950px)
    margin-top: 6rem
  @media only screen and (max-width: 650px)
    margin-top: 2rem

.team_coef
  color: #fff
  z-index: 50
  font-size: 2rem
  @media only screen and (max-width: 768px)
    font-size: 1.5rem

.coef_left h3
  margin-top: 1.5rem
  @media only screen and (max-width: 768px)
    margin-top: 1rem

.team_logo img
  @media screen and (max-width: 1680px)
    width: 80%
    transform: translateX(10%)

.content__trapezium
  position: absolute
  width: 76rem
  height: 15rem
  background-color: $btn-active
  transform: skewX(-15deg) translateX(-105%)
  left: 102%
  @media screen and (max-width: 1900px)
    width: 84rem
    height: 15rem
    left: 104%
  @media screen and (max-width: 1680px) 
    left: 103%
  @media screen and (max-width: 1200px)
    width: 86rem
    left: 105%
  @media screen and (max-width: 950px)
    width: 61rem
  @media only screen and (max-width: 768px)
    width: 51rem
    left: 103%
    height: 13rem
  @media only screen and (max-width: 650px)
    display: none

.int_logo
  position: absolute
  transform: scale(1)
  z-index: 6
  @media screen and (max-width: 1900px)
    transform: scale(0.75)
  @media screen and (max-width: 1200px)
    transform: scale(0.7)
  @media screen and (max-width: 950px)
    transform: scale(0.5)
    height: 85rem
  @media only screen and (max-width: 768px)
    height: 77rem
    transform: scale(0.4)
  @media only screen and (max-width: 767px)
    height: 44rem
  @media only screen and (max-width: 650px)
    height: 105rem
  @media only screen and (max-width: 550px)
    transform: scale(0.3)
    height: 115rem
  @media only screen and (max-width: 413px)
    transform: scale(0.25)
    height: 135rem
  @media only screen and (max-width: 325px)
    transform: scale(0.2)
    height: 140rem

.int
  @media screen and (max-width: 2561px) and (min-width: 1980px)
    width: 140%
  @media screen and (max-width: 1900px)
    width: 140%
  @media screen and (max-width: 1680px)
    width: 100%
  @media screen and (max-width: 1366px)
    width: 80%
  @media only screen and (max-width: 1366px) and (min-height: 1020px)
    width: 100%
  @media screen and (max-width: 768px)
    width: 60%

.footer
  flex: 0 0 auto
  background-color: #000000
  width: 100%
  height: 5rem
  display: flex
  justify-content: center
  align-items: center
  z-index: 9
  position: absolute
  bottom: 0
  @media screen and (max-width: $md)
    margin-top: 1rem
    height: 3rem

.footer__text 
  font-size: 1.5rem
  font-weight: 600
  font-style: normal
  font-stretch: normal
  line-height: 1.25
  letter-spacing: normal
  text-align: center
  color: #f9e925
  text-transform: uppercase
  @media screen and (max-width: $md)
    font-size: 1rem

.submit__button
  @extend .flex_block
  position: absolute
  flex-direction: column
  justify-content: flex-start
  bottom: 10rem
  width: 15rem
  z-index: 55
  @media screen and (min-width: 2500px)
    bottom: 25rem
  @media screen and (max-width: 1680px)
    bottom: 25rem
  @media screen and (max-width: 1600px)
    bottom: 20rem
  @media screen and (max-width: 1600px) and (max-height: 900px)
    bottom: 15rem
  @media screen and (max-width: 1366px)
    bottom: 8rem
  @media screen and (max-width: 1280px)
    bottom: 25rem
  @media screen and (max-width: 1280px) and (max-height: 960px)
    bottom: 20rem
  @media screen and (max-width: 1280px) and (max-height: 800px)
    bottom: 15rem
  @media screen and (max-width: 1280px) and (max-height: 720px)
    bottom: 5rem
  @media screen and (max-width: 768px)
    bottom: 40rem
  @media screen and (max-width: 450px)
    bottom: 5rem
  @media screen and (max-width: 350px)
    bottom: 2rem

.btn
  text-decoration: none
  outline: none
  height: 3rem
  line-height: normal
  margin-bottom: 1.25rem
  font-size: 1.5rem
  text-transform: uppercase
  text-align: center
  line-height: 3rem
  vertical-align: center
  letter-spacing: 1px
  font-weight: 800
  cursor: not-allowed
  color: #999999
  background: $btn-dis
  transition: .3s
  width: 100%
  border-radius: 5px
  padding: 0.5rem 3rem
  @include respond-to(medium)
    font-size: 1.2rem
  @include respond-to(handhelds)
    font-size: 1.2rem
    padding: 0

.active_btn
  background: $btn-active
  color: #272929
  cursor: pointer

.active_btn:hover
  transform: translateY(-5px)
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px;

  
.modal
  @extend .hide

.open
  @extend .show

  
.wrapper
  position: absolute
  top: 0
  height: 100%
  width: 100%  
  background-color: rgba(0,0,0, .5)

.modal__close 
  height: 1.25rem
  width: 1.25rem
  fill: $primary-color
  top: 0.3125rem
  margin-left: 95%
  cursor: pointer

.close__container
  height: 100%
  position: absolute

.terms__content 
  width: 100%
  height: 100%
  margin-top: 0.3125rem

.modal__content 
  z-index: 12
  padding: 1.25rem
  max-height: calc(100vh - 300px)
  width: 70%
  position: fixed
  overflow: hidden
  border-radius: 5px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
  background-color: $bg-color
  h2,
  h3,
  h4,
  ul,
  p 
    margin-bottom: 0.625rem
  ul 
    list-style: circle inside
  ul > li 
    padding-left: 1.25rem
    margin-bottom: 0.625rem
  @include respond-to(large)
    width: 80%
    height: 50%
  @include respond-to(handhelds)
  @include respond-to(medium)
    width: 80%

#myCanvas
  height: 400px
  width: 2560px
  max-width: 100%
  min-width: 800px
  position: absolute
  bottom: 0
  @media screen and (max-width: 992px)
    display: none

#particles-js
  width: 100%
  height: 100%
  position: absolute
  z-index: 5
  @media screen and (max-width: 992px)
    display: none